<h1>user Index</h1>


<a class="dropdown-item" href="/auth/profile">Profile</a>
<a class="dropdown-item" href="/auth/signup">Signup</a>
<a class="dropdown-item" href="/auth/login">Login</a>
<a class="dropdown-item" href="/auth/exit">Close session</a>