<h1>{{username}} Profile</h1>
<hr>
<form action="/user/addfriend/{{id}}" method="POST">
    <button type="submit" class="btn btn-dark">Add to Friends</button>
</form>
<form action="/user/removefriend/{{id}}" method="POST">
    <button type="submit" class="btn btn-dark">Remove this Friend</button>
</form>
<hr>