<body id="gameOver">
    <div class="goBtt">
        <form action="#" method="POST">
            <button type="submit" class="btn btn-dark">Try Again</button>
        </form>
        <a href="/">Go Back Home</a>
    </div>
</body>