<div class="container">
    <h1>Spicy Bacon Game</h1>
    <hr>
    <div class="row">
        <div class="col-5">
            <h2>Actor to start:</h2>
            <input hidden type="text" id="start-actorId">
            <div class="start-search-group">
                {{!-- ------- --}}
                {{!-- CHOSEN ACTOR WILL GO HERE --}}
                <label for="name">Actor search:</label>
                <input type="text" name="name" id="start-search-input" placeholder="">
                <button id="start-search-button" class="search-button">SEARCH</button>
                <ul id="start-search-results">
                    {{!-- ------- --}}
                    {{!-- SEARCH RESULTS GO HERE --}}
                    {{!-- ------- --}}
                </ul>
                {{!-- ------- --}}
            </div>
        </div>
        <div class="col-2" id="begin-button-space">
            <span>-></span>
        </div>
        <div class="col-5">
            <h2>Actor to end:</h2>
            <input hidden type="text" id="end-actorId">
            <div class="end-search-group">
                {{!-- ------- --}}
                {{!-- CHOSEN ACTOR WILL GO HERE --}}
                <label for="name">Actor search:</label>
                <input type="text" name="name" id="end-search-input" placeholder="Kevin Bacon">
                <button id="end-search-button" class="search-button">SEARCH</button>
                <ul id="end-search-results">
                    {{!-- ------- --}}
                    {{!-- SEARCH RESULTS GO HERE --}}
                    {{!-- ------- --}}
                </ul>
                {{!-- ------- --}}
            </div>
        </div>
    </div>
</div>