<h4>Get Actors</h4>
<form action="/game/actor" method="POST" id="search-form">
    <label for="name">Actor search:</label>
    <input type="text" name="name" id="name">
    <button type="submit">SEARCH</button>
</form>

<h4>Get Movies</h4>
<form action="/game/movie" method="POST" id="search-form">
    <label for="name">Movie search:</label>
    <input type="text" name="name" id="name">
    <button type="submit">SEARCH</button>
</form>

<h4>Get Actor by ID</h4>
<form action="/game/actor/byId" method="POST" id="search-form">
    <label for="actorId">Actor ID:</label>
    <input type="text" name="actorId" id="actorId">
    <button type="submit">SEARCH</button>
</form>

<h4>Get Movie by ID</h4>
<form action="/game/movie/byId" method="POST" id="search-form">
    <label for="movieId">Movie ID:</label>
    <input type="text" name="movieId" id="movieId">
    <button type="submit">SEARCH</button>
</form>

<h4>Get Movie Full cast by ID</h4>
<form action="/game/movie/fullCast" method="POST" id="search-form">
    <label for="movieId">Movie ID:</label>
    <input type="text" name="movieId" id="movieId">
    <button type="submit">SEARCH</button>
</form>