<div class="container">
    <h1>Welcome to {{siteTitle}}</h1>
    <h2>jose key: pk_6szzz1n18wusbr7ax</h2>
    <hr>
    <a href="/auth">User</a>

    <hr>
    <a href="/game">Game</a>

    <hr>
    <a href="/user/allusers">Community</a>

</div>